<a href="{{ path('admin_article_add') }}"><button type="button"  class="btn btn-primary" ><span class="glyphicon glyphicon-plus"></span> Ajouter un article </button></a>
{% if articles %}

    <div class="table-responsive">
        <table class="table table-hover table-condensed">
            <thead>
                <tr>
                    <th>{{ 'Titre'|trans }}</th>
                    <th>{{ 'Contenu'|trans }}</th>
                    <th scope="col" class="text-center"><i class="fa fa-calendar" aria-hidden="true"></i> {{ 'Publié le'|trans }}</th>
                    <th scope="col" class="text-center"><i class="fa fa-cogs" aria-hidden="true"></i> {{ 'Actions'|trans }}</th>
                </tr>
            </thead>

            {% for article in articles %}
                <tr>
                    <td><a class="articleTitle" href="{{ path('article', { 'id': article.id }) }}">{{ article.title | truncate(30) | striptags| raw }}</a></td>
                    <td><a class="articleTitle" href="{{ path('article', { 'id': article.id }) }}">{{ article.content | truncate(60) | striptags | raw }}</a></td>
                    <td class="text-center"><a class="articleTitle" href="{{ path('article', { 'id': article.id }) }}">{{ article.date|date("d/m/Y \\à\\ H:i:s") }}</a></td>
                    <td class="text-center">
                        <div class="item-actions">
                            <a href="{{ path('admin_article_edit', { 'id': article.id }) }}" class="btn btn-sm btn-primary">
                                <i class="fa fa-edit" aria-hidden="true"></i> {{ 'Editer'|trans }}
                            </a>
                            <button type="button" class="btn btn-sm btn-danger " title="Supprimer" data-toggle="modal" data-target="#articleDialog{{ article.id }}"> <i class="fa fa-trash" aria-hidden="true"></i> {{ 'Supprimer'|trans }}
                            </button>
                        </div>

                        <div class="modal fade" id="articleDialog{{ article.id }}" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
                            <div class="modal-dialog">
                                <div class="modal-content">
                                    <div class="modal-header">
                                        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                                        <h4 class="modal-title" id="myModalLabel">Confirmation demandée</h4>
                                    </div>
                                    <div class="modal-body">
                                        Supprimer cet article ?
                                    </div>
                                    <div class="modal-footer">
                                        <button type="button" class="btn btn-default" data-dismiss="modal">Annuler</button>
                                        <a href="{{ path('admin_article_delete', { 'id': article.id }) }}" class="btn btn-danger">Confirmer</a>
                                    </div>
                                </div><!-- /.modal-content -->
                            </div><!-- /.modal-dialog -->
                        </div><!-- /.modal -->
                    </td>
                </tr>
            {% endfor %}
        </table>
    </div>
{% else %}
    <div class="alert alert-warning">Aucun article trouvé.</div>
{% endif %}



