{% extends 'layout.html.twig' %}
{% set adminMenu = true %}
{% block title %}{{ title }}{% endblock %}
{% block header %}
    <header class="intro-header" style="background-image: url('{{ asset('images/ecrire.jpg') }}')">
        <div class="container">
            <div class="row">
                <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">
                    <div class="site-heading">
                    </div>
                </div>
            </div>
        </div>
    </header>
{% endblock %}

{% block content %}
    <h2 class="text-center">Modification de l'article</h2>
    {% for flashMessage in app.session.flashbag.get('success') %}
        <div class="alert alert-success">
            {{ flashMessage }}
        </div>
    {% endfor %}

    <div class="well">
        {{ form_start(articleForm, { 'attr': {'class': 'form-horizontal'} }) }}
        <div class="form-group">

            <div class="col-sm-6">
                {{ form_widget(articleForm.title, { 'attr':  {
                    'class': 'form-control',
                    'placeholder': 'Titre de l\'article'
                }}) }}
                {% if form_errors(articleForm.content) %}
                    <h5 class="text-danger"><i class="fa fa-warning fa-spin" aria-hidden="true"></i> {{ form_errors(articleForm.title) }}</h5>
                {% endif %}
            </div>
        </div>
        <div class="form-group">

            <div class="col-sm-6">
                {{ form_widget(articleForm.content, { 'attr':  {
                    'class': 'form-control',
                    'rows': '8',
                    'placeholder': 'Contenu de l\'article'
                }}) }}

                {% if form_errors(articleForm.content) %}
                    <h5 class="text-danger"><i class="fa fa-warning fa-spin" aria-hidden="true"></i> {{ form_errors(articleForm.content) }}</h5>
                {% endif %}
            </div>
        </div>
        <div class="form-group">

            <div class="col-sm-offset-4 col-sm-3">
                <a href="{{ path('admin') }}" class="btn btn-danger">Annuler</a>
                <input type="submit" class="btn btn-success" value="Enregistrer" formnovalidate="true" />
            </div>
        </div>
        {{ form_end(articleForm) }}
    </div>
{% endblock %}
{% block javascript %}
    {{ parent() }}

    <!-- Tinymce -->
    <script src="{{ asset('/js/tinymce/jquery.tinymce.min.js') }}"></script>
    <script src="{{ asset('/js/tinymce/tinymce.min.js') }}"></script>
    <script>tinymce.init({ selector:'textarea', language:'fr_FR'});</script>
    <script type="text/javascript" charset="utf8" src="http://ajax.aspnetcdn.com/ajax/jQuery/jquery-2.0.3.js"></script>

{% endblock %}