{% extends "layout.html.twig" %}
{% block head %}
    {{ parent() }}
    <link href="{{ asset ('/css/loadmore.css') }}" rel="stylesheet">
{% endblock %}
{% block title %}Accueil{% endblock %}

{% block content %}

    {% for article in articles %}

        <div class="row2">
            <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">
                <div class="post-preview">

                    <h2 class="post-title">
                        <h2><a class="articleTitle"
                               href="{{ path('article', { 'id': article.id }) }}">{{ article.title }}</a></h2>
                    </h2>
                    <p class="post-subtitle">
                        {{ article.content |  truncate(180) | striptags| raw }}
                    </p>
                    <a class="post-meta" href="{{ path('article', { 'id': article.id }) }}">[Lire la suite...]</a>

                    <p class="post-meta">Publié par <a href="{{ path('about') }}">Jean-Forteroche</a>
                        Le {{ article.date|date("d/m/Y \\à\\ H:i:s") }}
                    </p>

                </div>
                <hr>
            </div>
        </div>
    {% endfor %}
    <a href="#" id="loadMore">Afficher plus d'articles</a>
    <p class="scrollToTop">
        <a href="#"></a><i class="glyphicon glyphicon-chevron-up" style="color: #880716"></i></a>
    </p>

{% endblock %}
{% block javascript %}
    {{ parent() }}
    <script src="{{ asset('/js/loadmore.js') }}"></script>
    <script>
        $(document).ready(function () {

            //Check to see if the window is top if not then display button
            $(window).scroll(function () {
                if ($(this).scrollTop() > 100) {
                    $('.scrollToTop').fadeIn();
                } else {
                    $('.scrollToTop').fadeOut();
                }
            });

            //Click event to scroll to top
            $('.scrollToTop').click(function () {
                $('html, body').animate({scrollTop: 0}, 800);
                return false;
            });

        });
    </script>
{% endblock %}

